.reference {
    cursor: pointer;
    color: #E35205;
}

span.data-hr, mark, mark.data-hr {
    background-color: #ffff00;
}

.card {
    overflow: visible;
}

a {
    color: #E35205;
}

a:not([href]):not([tabindex]) {
    color: #E35205;
    text-decoration: none;
}

.regest {
    margin-left:5%;
}

.regest p:first-of-type {
    font-style:italic;
}

.regest p:last-of-type {
    margin-left: -5%;
    margin-top: 1em;
}

.regest ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.regest ul li { display: inline; }

q {
  quotes: "„" "“" "‚" "‘";
}
